<header class="main-header">
    <div class="main-nav navbar-wrapper">
        <nav class="navbar navbar-static-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <div class="sr-only">Toggle navigation</div>
                  <div class="icon-bar"></div>
                  <div class="icon-bar"></div>
                  <div class="icon-bar"></div>
                </button>
                <a class="logo navbar-btn" href="#" title="Home" rel="home">
                  <img src="images/logo.png" alt="Home">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li  class="active"><a href="#">Latest</a></li>
                  <li><a href="#club">Club</a></li>
                  <li class="subSection"><a href="#club/partnerships">Partners</a></li>
                  <li><a href="#teams">Teams</a></li>
                  <li><a target="_blank" href="http://magazine.soccerbeyond.com/">Insider</a></li>
                  <!-- <li><a href="#store">Store</a></li> -->
                  <li><a href="#join">Join</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div id="main-content">

</div> 

<footer>
    <!-- <div class=""> -->
        <div class="footer-bg col-md-12">
            <div class="nav-links col-md-8">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Beyond FC </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Latest</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#club">Club</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#teams">Teams</a>
                    </div>
                    
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Insider</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Store</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Follow</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#join">Join</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Fans</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#teams/community">Community</a>
                    </div> 
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#club/partnerships">Partnerships</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">In the News</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Match Recaps</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Match Previews</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Facts & Figures</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Gallery</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#">Product Support</a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <a href="#club/contact-us">Contact us</a>
                    </div>
                </div>
            </div>        
            <div class="social col-md-4">
                <div class="text-CTA">Connect with us via</div>
                <ul>
                    <li class="btn fb"><i class="fa fa-facebook"></i></li>
                    <li class="btn tw"><i class="fa fa-twitter"></i></li>
                    <li class="btn gp"><i class="fa fa-google-plus"></i></li>
                    <li class="btn ig"><i class="fa fa-instagram"></i></li>
                    <li class="btn ig"><i class="fa fa-youtube"></i></li>
                </ul>
            </div>
        </div>
        <div class="footer-links col-md-12">
            <div class="col-md-3 copyright">©2016 <span>Beyond F.C. New York</span></div>
            <div class="col-md-2 col-md-offset-4" ><a href="#">Terms & Conditions</a></div>
            <div class="col-md-1" ><a href="#">Privacy Policy</a></div>
            <div class="col-md-1" ><a href="#">Sitemap</a></div>
            <div class="col-md-1" ><a href="#">Support</a></div>
        </div>
    <!-- </div> -->
</footer>

