<div class="hero">
    <div class="info col-xs-12"> 
        <h1>Club</h1>
        <p class="col-md-10 col-md-offset-1">Intellegat intelle gebat, cum eros error temp malorum repudiare, ex choro posidonium concludaturque or no. Insolens ullamcorper eam ne.</p>
        <div class="social col-md-8 col-md-offset-2">
            <ul>
                <li class="btn fb"><i class="fa fa-facebook"></i></li>
                <li class="btn tw"><i class="fa fa-twitter"></i></li>
                <li class="btn gp"><i class="fa fa-google-plus"></i></li>
                <li class="btn ig"><i class="fa fa-instagram"></i></li>
                <li class="btn ig"><i class="fa fa-youtube"></i></li>
            </ul>
        </div>
    </div>
</div>
<footer class="hero-footer">
    <ul class="nav navbar-nav">
        <li class="nav-header"><a data-toggle="collapse" data-target="#page-nav">Management Team</a></li>
        <div id="page-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#club/management">Management Team</a></li>
                <li><a href="#club/values">Our Values</a></li>
                <!-- <li><a href="#club/our-story">Our Story</a></li> -->
                <li><a href="#club/partnerships">Partner with us</a></li>
                <li><a href="#club/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </ul>
</footer>
<!-- Page Content -->
<div>
    <div id="management" class="section-header col-xs-12">
        <h2 class="col-xs-10 col-xs-offset-1">Management Team</h2>
    </div>
    <div class="club-management">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <figure class="tile">
                    <img src="images/management/Frank.jpg" alt="img1">
                    <div class="triangle"></div>
                </figure>             
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6">
                <div class="tile-info">
                    <h2>Frank Hauser</h2>
                    <h3>Executive Director</h3>
                    <p>At Beyond F.C., Frank is in charge of brand experience and strategy. He grew up in Germany where he went through the academies of Dynamo Dresden and Borussia Moenchengladbach. With a background in Marketing Communications and the UEFA B coaching license in his pocket, in the spring of 2011 he created Soccer Beyond. The one-stop shop for adult soccer and talent development now caters to a community of 6,000 players and counting. One year later, Frank finished his book "Soccer Beyond Instinct". He is happily married to his wife Francesca and proud father to their daughter Elise.</p>
                    <div class="social col-md-8 col-md-offset-2">
                        <ul>
                            <li class="btn fb"><i class="fa fa-facebook"></i></li>
                            <li class="btn tw"><i class="fa fa-twitter"></i></li>
                            <li class="btn gp"><i class="fa fa-google-plus"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-push-8">
                <figure class="tile">
                    <img src="images/management/jeremy.jpg" alt="img1">
                    <div class="triangle"></div>
                </figure>             
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-pull-4">
                <div class="tile-info">
                    <h2>Jeremy Rampon</h2>
                    <h3>General Manager</h3>
                    <p>In 2008, Jeremy came to the U.S. to earn his Master’s Degree in Management, complement to his Master's in Computer Science. Playing for various clubs when growing up back in France and now looking to join a more competitive league in New York, Jeremy took initiative and founded New Amsterdam United FC in 2011  to compete with two teams in the well-renowned Cosmopolitan Soccer League (CSL). To further impact the NYC soccer ecosystem, he earned his USSF D coaching license and joined the CSL advisory board. One year after taking on Frank Hauser as Head Coach the two decided to join forces to create Beyond F.C. New York, where Jeremy remains General Manager and continues to streamline operations.</p>
                    <div class="social col-md-8 col-md-offset-2">
                        <ul>
                            <li class="btn fb"><i class="fa fa-facebook"></i></li>
                            <li class="btn tw"><i class="fa fa-twitter"></i></li>
                            <li class="btn gp"><i class="fa fa-google-plus"></i></li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <figure class="tile">
                    <img src="images/management/aaron.jpg" alt="img1">
                    <div class="triangle"></div>
                </figure>             
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6">
                <div class="tile-info">
                    <h2>Aaron Gomes</h2>
                    <h3>Finances & Partnerships</h3>
                    <p>At the club level, Aaron manages the club's finances, partnerships and expands BFC's community footprint. Aaron grew up in Dubai playing on sand and stone before moving to the US in 2007. He has been actively involved in the Soccer Beyond community in New York since 2011, constantly on the lookout for opportunities to improve access and experience for New York City's growing soccer scene. He is soon to married to his fiance, Avantika in early 2017!</p>
                    <div class="social col-md-8 col-md-offset-2">
                        <ul>
                            <li class="btn fb"><i class="fa fa-facebook"></i></li>
                            <li class="btn tw"><i class="fa fa-twitter"></i></li>
                            <li class="btn gp"><i class="fa fa-google-plus"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="values" class="section-header col-xs-12">
        <h2 class="col-xs-10 col-xs-offset-1">Our Values</h2>
        <div class="club-values">
            <div class="row">
                <h3 class="col-xs-10 col-xs-offset-1">Pursuit of Greatness</h3>
                <p class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">Through continous improvement of our skills, abilities, and character we are dedicated to pursuing greatness.</p>
                
                <h3 class="col-xs-10 col-xs-offset-1">Leadership</h3>
                <p class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">We lead by example in going beyond the ordinary, beyond the expected, beyond our limits. Individually as well as a team.</p>

                <h3 class="col-xs-10 col-xs-offset-1">Perseverance</h3>
                <p class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">There is no holding back, there are no excuses. We persevere through challenges and setbacks as we pursue what matters with relentless effort and determination.</p>

                <h3 class="col-xs-10 col-xs-offset-1">Inclusivity</h3>
                <p class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">WE outperforms ME. As a team we enable, as a club we achieve. We respect each other, learn from each other, and encourage each other. Together, we create and nurture and environment to grow.</p>
            </div>
        </div>            
    </div>

    
    <!-- <div id="our-story" class="section-header col-xs-12">
        <h2 class="col-xs-10 col-xs-offset-1">Our Story</h2>
       
    </div> -->

    <div class="row">
        <div class="col-sm-6 col-md-4">
        </div>
    </div>
    <div class="tile-grid join">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tiles/membership.jpg" alt="img6">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Membership</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#join">View more</a>
                    </figcaption>           
                </figure>             
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tiles/teams.jpg" alt="img6">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Teams</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#teams">View more</a>
                    </figcaption>           
                </figure>             
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tiles/meetup.jpg" alt="img6">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">BFC on Meetup</h3>
                            <div class="triangle"></div>
                        </div>
                        <a target="_blank" href="http://www.meetup.com/BeyondFC/">View more</a>
                    </figcaption>           
                </figure>             
            </div>
        </div>
    </div>
    <div id="partnerships" class="section-header col-xs-12">
        <h2 class="col-xs-10 col-xs-offset-1">Friends & Partners</h2>
    </div>
    <div class="partners">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/travel-insurance.png" alt="img6">
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/square-meals.png" alt="img6">
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/moving-forward.png" alt="img6">
                </div>
            </div>  
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/kick-scream.png" alt="img6">
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="tile-info">
                    <h2>Become a Partner</h2>
                    <p>Concludaturque vituperatoribus ea vim, elaboraret comprehensam has ne. Te ceteros appareat sit, pro eu liber praesent. Nemore invidunt cu mea. Illud utinam pro ut.</p>
                    <button  class="contactBtn orangeBtn">Contact</button>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/bond.png" alt="img6">
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/ny-intl.png" alt="img6">
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/gokid.png" alt="img6">
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/gramercy-global.png" alt="img6">
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/trkr.png" alt="img6">
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="partner-logo">
                    <img src="images/district.png" alt="img6">
                </div>
            </div>
        </div>            
    </div>
    <div class="tile-grid"></div>
    <div id="contact-us" class="section-header col-xs-12">
        <h2 class="col-xs-10 col-xs-offset-1">Contact Us</h2>
    </div>
    <div class="contact">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                <div class="contact-form">
                    <input type="form" placeholder="First Name"></input>
                    <input type="form" placeholder="Last Name"></input>
                    <input type="form" placeholder="Email address"></input>
                    <textarea name='comment' id='comment'></textarea>
                    <button class="orangeBtn">Submit</button>
                </div>
            </div>
            <div class="col-xs-6 col-sm-5">
                <div class="contact-info">
                    <h2>Contact Details</h2>
                    <div><i class="fa fa-map-marker"></i> <span>244 Lorem St. Unit 12-16 Madison Ave, New York, NY 5</span></div>
                    <div><i class="fa fa-phone"></i> <span>518-457-5181 518-457-5149</span></div>
                    <div><i class="fa fa-envelope"></i> <span>info@beyondfc.nyc</span></div>
                </div>
            </div>
        </div>            
    </div>
</div>