<div class="hero">
    <div class="info col-xs-12 col-sm-6 col-md-7"> 
        <h1>PLAY HERE. THRIVE ANYWHERE.</h1>
        <p>Beyond F.C. is home and inspiration to amateur teams as well as men’s, women’s, and co-ed community teams competing in and around New York City.</p>
        <button class="blueBtn">Join</button>
        <button class="orangeBtn"><i class="fa fa-shopping-cart"></i>Store</button>
    </div>
</div>
<footer class="hero-footer">
    <div class="subscribe">
        <div class="text-CTA">Subscribe To Our Mailing List</div>
        <input type="form" placeholder="Email address"></input>
        <button class="subscribe-btn">Subscribe</button>
        
        <!-- Begin MailChimp Signup Form -->
<!--         <div id="mc_embed_signup">
            <form action="//facebook.us12.list-manage.com/subscribe/post?u=c441e10b5fc9e0ef1fabec939&amp;id=c187667647" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <label class="text-CTA" for="mce-EMAIL">Subscribe To Our Mailing List</label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-btn">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    
                </div>
            </form>
        </div> -->
        <!--End mc_embed_signup-->
    </div>
    <div class="social">
        <div class="text-CTA">Follow us via</div>
        <ul>
            <li class="btn fb"><i class="fa fa-facebook"></i></li>
            <li class="btn tw"><i class="fa fa-twitter"></i></li>
            <li class="btn gp"><i class="fa fa-google-plus"></i></li>
            <li class="btn ig"><i class="fa fa-instagram"></i></li>
            <li class="btn ig"><i class="fa fa-youtube"></i></li>
        </ul>
    </div>
</footer>

<!-- Page Content -->
<div class="partners-carousel"> 
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <div class="partner-logo">
                <a href="http://www.districttaphouse.com/">
                    <img src="images/district.png"  alt="img6">
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="partner-logo">
                <a href="">
                    <img src="images/trkr.png"  alt="img6">
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="partner-logo">
                <a href="http://www.movingforwardpt.nyc/">
                    <img src="images/moving-forward.png"  alt="img6">
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="partner-logo">
                <a href="http://www.sqmeals.com/">
                    <img src="images/square-meals.png"  alt="img6">
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="partner-logo">
                <a href="http://www.gokid.mobi/">
                    <img src="images/gokid.png"  alt="img6">
                </a>
            </div> 
        </div>
        <!-- <div class="col-sm-2">
            <img     src="images/travel-insurance.png"  alt="img6">
                </a>
        </div>
        <div class="col-sm-2">
            <img     src="images/kick-scream.png"  alt="img6">
                </a>
        </div>
        <div class="col-sm-2">
            <img     src="images/bond.png"  alt="img6">
                </a>
        </div>
        <div class="col-sm-2">
            <img     src="images/ny-intl.png"  alt="img6">
                </a>
        </div>
        <div class="col-sm-2">
            <img     src="images/gokid.png"  alt="img6">
                </a>
        </div>
        <div class="col-sm-2">
            <img     src="images/gramercy-global.png"  alt="img6">
                </a>
        </div> -->
    </div>
</div>
    
<!-- /.container -->


