<div class="hero">
    <div class="info col-xs-12"> 
        <h1>MEMBERSHIP</h1>
        <p class="col-md-10 col-md-offset-1">Intellegat intelle gebat, cum eros error temp malorum repudiare, ex choro posidonium concludaturque or no. Insolens ullamcorper eam ne.</p>
        <div class="social col-md-8 col-md-offset-2">
            <ul>
                <li class="btn fb"><i class="fa fa-facebook"></i></li>
                <li class="btn tw"><i class="fa fa-twitter"></i></li>
                <li class="btn gp"><i class="fa fa-google-plus"></i></li>
                <li class="btn ig"><i class="fa fa-instagram"></i></li>
                <li class="btn ig"><i class="fa fa-youtube"></i></li>
            </ul>
        </div>
    </div>
</div>
<footer class="hero-footer">
    <ul class="nav navbar-nav">
        <li class="nav-header"><a data-toggle="collapse" data-target="#page-nav">OVERVIEW</a></li>
         <div id="page-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#join/overview">OVERVIEW</a></li>
                <li><a href="#join/details">DETAILS</a></li>
                <li><a href="#join/application">APPLICATION</a></li>
                <li><a href="#join/faq">FAQ</a></li>
            </ul>
        </div>
    </ul>
</footer>

<!-- Page Content -->
<div>
    <div id="overview" class="section-header col-xs-12">
        <h2 class="col-xs-10 col-xs-offset-1">BECOME A MEMBER</h2>
    </div>

   <hr class="membership-divider"/>

    <div class="membership-features">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-5 col-sm-7 col-md-offset-5 col-md-7">
                 <h3>FEATURES</h3>
            </div>
        </div>
        <div class="row features-mythical-icon">
            <div class="col-xs-offset-1 col-xs-4 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-3">
                <h1 class="membership-price">$35<span class="hidden-xs">/mo.</span></h1>
                <p class="col-xs-offset-2 mobile-month hidden-sm hidden-md hidden-lg">/month</p>
                <hr class="membership-divider hidden-xs"/>
                <i class="fa fa-circle circle hidden-xs"><span class="before-text">before </span><span class="before-price">$49</span><i class="fa fa-circle circle"></i></i>
                <hr class="membership-divider hidden-xs"/>
            </div>

            <div class="features-table col-xs-7 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-7">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-check-circle"></i>
                        </td>
                        <td class="check-text">
                            Senserit instructior ex sit. Nominavi insolens atomorum mea ex
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="fa fa-check-circle"></i>
                        </td>
                        <td class="check-text">
                            Vide solum sed, ne dictas abhorreant his
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="fa fa-check-circle"></i>
                        </td>
                        <td class="check-text">
                            Concludaturque vituperatoribus ea vim, elaboraret comprehensam has ne. Te ceteros appareat sit, pro eu liber praesent
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="fa fa-check-circle"></i>
                        </td>
                        <td class="check-text">
                            Nemore invidunt cu mea. Illud utinam pro ut.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="details" class="membership-details">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-md-3">
                <div class="membership-info">
                    <h3>PRIORITY TICKETS FOR EVERY GAME *</h3>
                    <p>Comprehensam has ne. Te ceteros appareat sit, pro eu liber praesent. Nemore invidunt cu mea. Illud utinam pro ut.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-offset-1 col-sm-7 col-md-offset-1 col-md-7">
                <figure class="tile">
                    <img src="images/membership_img1.png" alt="img1">
                </figure>             
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-sm-push-7 col-md-3 col-md-push-7">
                <div class="membership-info">
                    <h3>HUGE DISCOUNTS AT OUR SHOP</h3>
                    <p>Comprehensam has ne. Te ceteros appareat sit, pro eu liber praesent. Nemore invidunt cu mea. Illud utinam pro ut.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-pull-4 col-md-7 col-md-pull-4">
                <figure class="tile">
                    <img src="images/membership_img2.png" alt="img2">
                </figure>             
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-md-3">
                <div class="membership-info">
                    <h3>PRIORITY TICKETS FOR EVERY GAME *</h3>
                    <p>Comprehensam has ne. Te ceteros appareat sit, pro eu liber praesent. Nemore invidunt cu mea. Illud utinam pro ut.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-offset-1 col-sm-7 col-md-offset-1 col-md-7">
                <figure class="tile">
                    <img src="images/membership_img1.png" alt="img1">
                </figure>             
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-sm-push-7 col-md-3 col-md-push-7">
                <div class="membership-info">
                    <h3>HUGE DISCOUNTS AT OUR SHOP</h3>
                    <p>Comprehensam has ne. Te ceteros appareat sit, pro eu liber praesent. Nemore invidunt cu mea. Illud utinam pro ut.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-pull-4 col-md-7 col-md-pull-4">
                <figure class="tile">
                    <img src="images/membership_img2.png" alt="img2">
                </figure>             
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-md-3">
                <div class="membership-info">
                    <h3>PRIORITY TICKETS FOR EVERY GAME *</h3>
                    <p>Comprehensam has ne. Te ceteros appareat sit, pro eu liber praesent. Nemore invidunt cu mea. Illud utinam pro ut.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-offset-1 col-sm-7 col-md-offset-1 col-md-7">
                <figure class="tile">
                    <img src="images/membership_img1.png" alt="img1">
                </figure>             
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-sm-push-7 col-md-3 col-md-push-7">
                <div class="membership-info">
                    <h3>HUGE DISCOUNTS AT OUR SHOP</h3>
                    <p>Comprehensam has ne. Te ceteros appareat sit, pro eu liber praesent. Nemore invidunt cu mea. Illud utinam pro ut.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-7 col-sm-pull-4 col-md-7 col-md-pull-4">
                <figure class="tile">
                    <img src="images/membership_img2.png" alt="img2">
                </figure>             
            </div>
        </div>
    </div>

    <div id="application" class="membership-application">
        <div class="row">
            <div class="col-md-12">
                <h2>REGISTRATION FORM</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-9 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 application-form">
                <form>
                  <div class="form-group">
                    <p>Personal Details</p>
                    <input class="form-control" placeholder="First Name">
                  </div>

                  <div class="form-group">
                    <input class="form-control" placeholder="Last Name">
                  </div>

                  <div class="form-group">
                    <input class="form-control" placeholder="Email Address">
                  </div>

                  <div class="form-group">
                    <input class="form-control" placeholder="Skills">
                  </div>

                  <div class="radio membership-payment">
                    <p>Payment</p>
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      <i class="fa fa-cc-visa credit-cards"></i>
                      <i class="fa fa-cc-mastercard credit-cards"></i>
                      <i class="fa fa-cc-diners-club credit-cards"></i>
                      <i class="fa fa-cc-amex credit-cards"></i>
                    </label>

                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      <i class="fa fa-paypal credit-cards"></i>
                    </label>
                  </div>

                  <div class="form-group">
                    <input class="form-control" placeholder="Credit Card Number">
                  </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-9 visible-xs">
                <form class="form-inline">
                <label>Expiration Date</label>

                <label class="col-xs-offset-2">CVV</label>
                    <div class="form-group">
                        <input type="text" class="form-control credit-card-details" placeholder="">

                        <label style="margin-right: 7px;">/</label>
                        <input type="text" class="form-control credit-card-details" placeholder="">
                        
                        <input type="text" class="form-control credit-card-details" placeholder="">
                        <span>What's this?</span>
                    </div>

                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 hidden-xs">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Expiration Date</label>
                        <input type="text" class="form-control credit-card-details" placeholder="">

                        <label style="margin-right: 7px;">/</label>
                        <input type="text" class="form-control credit-card-details" placeholder="">
                        
                        <label class="col-sm-offset-sm">CVV</label>
                        <input type="text" class="form-control credit-card-details" placeholder="">
                        <span>What's this?</span>
                    </div>

                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-9 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
                <form class="membership-billing">
                  <div class="form-group">
                    <input class="form-control" placeholder="Billing Address Line 1">
                  </div>

                  <div class="form-group">
                    <input class="form-control" placeholder="Billing Address Line 2(optional)">
                  </div>

                  <div class="form-group">
                    <input class="form-control" placeholder="City">
                  </div>

                  <div class="row clear-margin">
                    <div class="col-xs-5 col-md-5">
                        <div class="form-group">
                            <input class="form-control" placeholder="State">
                        </div>
                    </div>
                    <div class="col-xs-offset-2 col-xs-5 col-md-offset-2 col-md-5">
                        <div class="form-group">
                            <input class="form-control" placeholder="Zip Code">
                        </div>
                    </div>

                    <div class="checkbox">
                        <label>
                          <input type="checkbox"> I have read and accept the terms & conditions
                        </label>
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <div id="faq" class="membership-faq">
        <div class="row">
            <div class="col-xs-12">
                <h2>FAQ</h2>     
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <p>Search for answers</p>
            </div>

            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-6">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for topics, keywords, or phrases" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row membership-questions">
            <div class="col-xs-offset-1 col-xs-11 col-sm-5 col-md-5">
                <h3>GENERAL QUESTIONS</h3>

                <p>Ei mazim adversarium qui, ad vel ullum volutpat laboramus, sed reque?</p>

                <p>Pro fuisset mentitum platonem ut, audiam mnesarchum sea no. Te cetero adipiscing eam. Pri id vide vocent. At pri atqui consectetuer reprehendunt, dico quas salutatus mea an. Ea adversarium.</p>

                <p>At libris concludaturque has, mandamus sapientem vix ex at has viris?</p>

                <p>Alterum mnesarchum. Sint definiebas et sed</p>

                <p>Vel nemore similique maiestatis ne, et sit summo minimum iracundia, ex quo lorem recusabo?</p>

                <p>Sed no civibus denique suavitate. Vix veritus phaedrum referrentur ne. Vix enim fuisset rationibus an, ea hinc iisque referrentur pro. Meis melius fierent vel ne.</p>
            </div>

            <div class="col-xs-offset-1 col-xs-11 col-sm-5 col-md-5">
                <h3>MEMBERSHIP</h3>

                <p>Ael nemore similique maiestatis ne, et sit summo minimum iracundia, ex quo lorem recusabo?</p>

                <p>Sed no civibus denique suavitate. Vix veritus phaedrum referrentur ne</p>

                <p>Vix enim fuisset rationibus an, ea hinc iisque referrentur pro. Meis melius fierent vel ne.</p>

                <h3>PURCHASES</h3>

                <p>Ael nemore similique maiestatis ne, et sit summo minimum iracundia, ex quo lorem recusabo?</p>

                <p>Sed no civibus denique suavitate. Vix veritus phaedrum referrentur ne</p>

                <p>Vix enim fuisset rationibus an, ea hinc iisque referrentur pro. Meis melius fierent vel ne.</p>
            </div>
        </div>
    </div>
</div>