<div class="hero">
    <div class="info col-xs-12"> 
        <h1>Teams</h1>
        <p class="col-md-10 col-md-offset-1">Intellegat intelle gebat, cum eros error temp malorum repudiare, ex choro posidonium concludaturque or no. Insolens ullamcorper eam ne.</p>
        <div class="social col-md-8 col-md-offset-2">
            <ul>
                <li class="btn fb"><i class="fa fa-facebook"></i></li>
                <li class="btn tw"><i class="fa fa-twitter"></i></li>
                <li class="btn gp"><i class="fa fa-google-plus"></i></li>
                <li class="btn ig"><i class="fa fa-instagram"></i></li>
                <li class="btn ig"><i class="fa fa-youtube"></i></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="section-header col-xs-12">
        <h2 class="col-xs-10 col-xs-offset-1">Cosmopolitan Soccer League</h2>
        <div class ="sub-header col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-2">
            The Cosmopolitan Soccer League is a semi-professional regional soccer league consisting of clubs based in and around New York City.
        </div>
        <button class="orangeBtn col-xs-10 col-xs-offset-1 col-sm-2 ">How To Join</button>            
    </div>
    <div class="tile-grid news">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tile1.jpg" alt="img1">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">First</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#team/first">View more</a>
                    </figcaption>           
                </figure>             
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tile2.jpg" alt="img2">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Reserve</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#team/reserve">View more</a>
                    </figcaption>           
                </figure>             
            </div>       
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tile3.jpg" alt="img3">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Metro</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#team/metro">View more</a>
                    </figcaption>           
                </figure>             
            </div>       
        </div>
    </div>
    <div id="community" class="section-header col-xs-12">
        <h2 class="col-xs-10 col-xs-offset-1">Community Teams</h2>
        <div class ="sub-header col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-2">
            At esse consectetuer pri, putant iisque cu vis. Sit ne ipsum mnesarchum, dicat aperiri at cum. Ne duo suas possim, mazim suscipiantur eu sed, mea brute voluptaria ex. Oportere scriptorem sed ex, ferri paulo laoreet est an.
        </div>
        <button class="orangeBtn col-xs-10 col-xs-offset-1 col-sm-2 ">How To Join</button>
    </div>
    <div class="tile-grid news">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tile1.jpg" alt="img1">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Team 1</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>           
                </figure>             
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tile2.jpg" alt="img2">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Team 2</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>           
                </figure>             
            </div>       
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tile3.jpg" alt="img3">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Team 3</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>           
                </figure>             
            </div>       
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tile1.jpg" alt="img1">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Team4</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>           
                </figure>             
            </div>
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tile2.jpg" alt="img2">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Team 5</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>           
                </figure>             
            </div>       
            <div class="col-sm-6 col-md-4">
                <figure class="tile">
                    <img src="images/tile3.jpg" alt="img3">
                    <figcaption>
                        <div class="caption">
                            <h3 class="title">Team 6</h3>
                            <div class="triangle"></div>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>           
                </figure>             
            </div>       
        </div>
    </div>
</div>