<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<figure class="tile">
		<% if (imgFile == "") { %>
			<img src="images/team-player.png" alt="img3">
		<% } else {%>
	    	<img src="images/players/<%- imgFile %>" alt="img3">
	    <% } %>
	    <figcaption>
	        <div class="caption">
	            <div class="player-info">
	                <h2><%- number %></h2>
	                <p><%- lastName %>, <%- firstName %> <br/> <span><%- position %></span></p>
	            </div> 
	            <div class="triangle"></div>
	            <i class="fa fa-arrow-right team-right-arrow"></i>
	        </div>
	    </figcaption>           
	</figure>             
</div>       