<div class="team-hero">
    <div class="row">
        <div>
            <div class="col-sm-4 col-md-4 team-info">
                <div class="team-text">
                    <h2>FIRST TEAM</h2>
                    <p>
                        <u>Cosmopolitan</u>
                        <br/><u>Soccer League</u>
                    </p>
                    <span>
                        <br/><u>Division 2</u>
                        <br/><u>New York</u>
                        <br/><br/><button class="btn btn-default">JOIN THE TEAM</button>
                    </span>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 team-players"></div>
        </div>
    </div>
</div>
<footer class="hero-footer">
    <div class="row">
        <div class="sub-nav col-xs-12 col-sm-12 col-md-offset-1 col-md-5">
        <a class="" href="#">STANDINGS <span>|</span></a>
        <a class="" href="#">FIXTURES & RESULTS <span>|</span></a>
        <a class="" href="#">TOP STORIES</a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="text-CTA">Follow us via</div>
        <ul class="sub-nav-social">
            <li class="social-btn fb"><i class="fa fa-facebook"></i></li>
            <li class="social-btn tw"><i class="fa fa-twitter"></i></li>
            <li class="social-btn gp"><i class="fa fa-google-plus"></i></li>
            <li class="social-btn ig"><i class="fa fa-instagram"></i></li>
        </ul>
    </div>
    </div>
</footer>
<div>
    <div class="tile-grid team">
        
    </div>
</div>