html, body{
 	max-width: 100%;
 	min-width: 350px;
    overflow-x: hidden;	
    background-color: $beyond-darker-blue;
}

h1{
	font-family: $roboto-font;
	font-size: 55px;
	font-weight: $bold;
}
h2{
	margin: 0px;
	font-family: $proxima-font;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
}
h3{
	font-family: $proxima-font;
	font-size: 21px;
	line-height: 30px;
	font-weight: $bold;
}
button{
	text-transform:uppercase;
	font-family: $proxima-font;
	font-size: 1em;
	font-weight: 600;
	color: white;
	border: none;
	opacity: 1;

	&:active{
		opacity: 0.65;
	}
	&.orangeBtn{ @include orangeBtn; }
	&.blueBtn{ @include blueBtn; }
	&.orangeBtn, &.blueBtn{
		padding: 8px 24px;
	}
}
:focus{
	outline-style: none;
}
a{
	font-family: $proxima-font;
	font-weight: 400;
	font-size: 1em;
}
p{
	font-family: $proxima-font;
	font-weight: 400;
	font-size: 1em;	
}
input, textarea{
	background-color: $beyond-dark-blue;
	color: $beyond-lighter-blue;
	display: block;
	border: none;
	text-align: center;
	font-size: 1em;
	line-height: 1.6em;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	
	@include placeholder {
    	color: $beyond-lighter-blue;
	}

}
 div.row > div[class*="col-"] {
	padding: 0; 
}
