@font-face {
	font-family: 'Proxima Nova';
	font-weight: 200;
	src: url('./fonts/ProximaNova-Light.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 200;
	src: url('./fonts/ProximaNova-Light.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	src: url('./fonts/ProximaNova-Regular.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 600;
	src: url('./fonts/ProximaNova-Semibold.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 700;
	src: url('./fonts/ProximaNova-Bold.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 800;
	src: url('./fonts/ProximaNova-Black.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-weight: 900;
	src: url('./fonts/ProximaNova-Extrabold.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 700;
	src: url('./fonts/ProximaNova-BoldIt.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 200;
	src: url('./fonts/ProximaNova-LightItalic.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 400;
	src: url('./fonts/ProximaNova-RegularItalic.otf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: italic;
	font-weight: 600;
	src: url('./fonts/ProximaNova-SemiboldItalic.otf');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	src: url('./fonts/Roboto-Thin.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 200;
	src: url('./fonts/Roboto-Light.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: url('./fonts/Roboto-Medium.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: url('./fonts/Roboto-Bold.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 800;
	src: url('./fonts/Roboto-Black.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url('./fonts/Roboto-BoldItalic.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
	src: url('./fonts/Roboto-ThinItalic.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 200;
	src: url('./fonts/Roboto-LightItalic.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('./fonts/Roboto-Italic.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	src: url('./fonts/Roboto-MediumItalic.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 800;
	font-style: italic;
	src: url('./fonts/Roboto-BlackItalic.ttf');
}