footer{
	background-color: $beyond-blue;
	text-align: center;
	border-bottom: 6px solid $beyond-orange;
	.text-CTA{
		@include callToAction;
	}
	input, button{
		font: $proxima-font;
		position: relative;
		width: 100%;
		margin-bottom: 0.4em;
		padding: 0.8em;
	}
	button{
		@include blueBtn;
	}
	a{
		display: inline-block;
		color: $beyond-link-blue;
    	line-height: 22px;
    	padding: 2px 0px;
    	text-decoration: none;
    	&:visited, &:active{
    		color: $beyond-link-blue;
    		text-decoration: none;
    	}
	}
	.social{
		.text-CTA{
			color: $beyond-text-light-blue;
		}
	}

}

.footer-bg{
	background-image: url('../images/footer-bg.jpg');
	.social{
		padding: 35px 0px;
	}
}
.nav-links{
		padding: 22px 0px;
		.row{
			margin-left: 7%;
			text-align: left;
			}	
		
		a{
			font-size: 1.25em;
		}	
}

.social{
	.btn{
		@include socialBtn;
	}
	ul{
		padding: 12px 0px;
	    margin: 0px;
	}
	.fa-google-plus{
		margin: 0px -3px;
	}
}

.footer-links{
	background-color: $beyond-footer-blue;
	padding: 22px 0px;
	> div{
		color: $beyond-gray;
		a{
			color: $beyond-gray;
		}
    	&.copyright{
    		text-transform: uppercase;
    		font-size: 1.25em;
    		line-height: 2em;
    		span{
    			color: $beyond-link-blue;
    		}
    	}
	}
}

@media (min-width: 768px) {
	footer{
		.text-CTA{
			text-transform: uppercase;
		}
		input, button{
			margin-bottom: 0em;
		}
		input{
			text-align: left;
		}
		.subscribe, .social,.footer-bg .social{
			padding: 10px 0px;
		}
		.subscribe input.subscribe-btn{
			min-width: 124px;
		    color: white;
		    background-color: #00b2ee;
		    text-transform: uppercase;
		    text-transform: uppercase;
		    font-family: "Proxima Nova", sans-serif;
		    font-size: 1em;
		    font-weight: 600;
		    color: white;
		    text-align: center;
		    border: none;
		    opacity: 1;
		    padding: 0.84em 0.8em;
		}

	}
	.social ul{ padding:0px; }
	.footer-links{
		> div{
			display: inline-block;
	    	&.copyright{
	    		line-height: 1.42857143em;
	    		float: left;
	    	}
	}
}
}

