header{
}
.hero{
    height: 445px;
    margin-top: -27px;
    background-position: 64% 29%;
    background-size: cover;
    
    background-image: url("../images/banners/home.jpg");
    background-repeat: no-repeat;
    background-color: rgb(229, 232, 234);
    background-blend-mode: darken;     
    
    .info{
        padding: 125px 45px 0px 45px;
        margin: 0px 0px;
        text-align: center;
        h1, p{
            color: white;
        }
        h1{
            font-size: 2em;
            text-transform: uppercase;
        }
        
        .orangeBtn{
            margin-left: 0px;
            i{
                margin-right: 7px;
                font-size: 18px;    
            }
        }
    }
    .carousel{
        display: none;
    }
}
footer.hero-footer{
        border-bottom: 0px;
        .subscribe, .social{
            width: calc(100% - 2em);
            margin: 0em 1em;    
        }
        .social{
            .text-CTA{
                display: none;
            }
        }
        .navbar-nav{
            margin: 0px;
            #page-nav{
                 li:first-child {
                    display: none;
                 }
            }
        }
}    

// Custom Page Overrides
.main-teams, .main-club, .main-membership{
    .hero{
        height: 252px;
        background-position: 82% 25%;
        background-size: auto 100%;
        .info{
            padding: 125px 20px 0px 20px;
            margin: 0px 0px;
            text-align: center;
            p{
                display: none;
            }
        }
        .social{
            .btn {margin: 0% 1%;}
        }
    }
}
.main-teams .hero{
    background-image: url("../images/banners/teams.jpg");
}
.main-club .hero{ 
    background-position: 82% 0%;
    background-size: cover;
    background-image: url("../images/banners/club.jpg"); 
}

.main-membership .hero{
    background-image: url("../images/banners/membership.jpg");
}
@media (min-width: 768px) {
    header{
    }
    .hero{
        margin-top: -60px;
        background-position: 50% 0%;
        background-blend-mode: initial;
        position: relative;
        .info{
            text-align: left;
            left: 0px;
            padding-top: 175px;
            position: absolute;
            display: block;
        }
    }        
    footer.hero-footer{
        .social{
            .text-CTA{
                display: inline-block;
            }
            ul{
                display: inline-block;
                li{
                    display: inline-block;
                    height: 37px;
                    width: 37px;
                    i{
                        margin: -3px -7px
                    }
                }
            }
        }
        .navbar-nav {
            float: none;
            li{
                &.nav-header{
                    display:none;
                }
                float: none;
                display: inline-block;
            }
            #page-nav{
                li:first-child {
                    display: inline-block;
                 }
            }
        }
    }

    .main-teams, .main-club, .main-membership{
        .hero .info{
            h1{ 
                font-size: 55px; 
                margin: 35px 0px 20px;
            }
            p{ display: block; font-size: 1.5em;  margin-bottom: 1em;}    
        }
    }
    .main-teams, .main-club, .main-membership{
        .hero{
            height: 445px;
        }
    }
} 

@media (min-width: 992px) {
    header{
    }
    .hero{
        height: 594px;
        .info{
            padding-top: 210px;
            padding-left: 130px;
            h1{ 
                font-size: 55px; 
                margin: 35px 0px 20px;
            }
            p{ font-size: 1.5em;  margin-bottom: 1em;}
            button{
                font-size: 2em;
            }
            .orangeBtn{
                margin-left: 23px;
                i{ font-size: 1em; }
            }
        }
    }    
    footer.hero-footer {
        .subscribe, .social{
            display: inline-block;
            // height: 62px;
            width:auto;
            > div, input, button, ul{
                display: inline-block;
                width: auto;
                // margin: 1.6em 0em;
            }
        }
        .subscribe{
            input{ min-width: 328px; }
            button{ min-width: 124px; }
        }
        .social{
            .btn{
                margin: 0px 2px;
            }
        }
    }
}


