/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    border-width: 0px;
    border-top: 5px solid $beyond-orange;
    padding: 0px 4px;
    margin: 0px;
    min-height: 46px;
    background-image: radial-gradient(circle closest-corner at 50% 77px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 63px, $beyond-navbar-bg 63px);
    .container {
      width: auto;
    }    
  }
  .navbar-toggle{
    float: left;
    padding: 1px 10px;
    .icon-bar{ height: 3px; background-color: white}
  }  
}
.navbar-header{
  height: 41px;
  // height: 54px;
  text-align: center;
  .logo {
    margin-left: -60px;
    img{
      margin-top: 13px;
      border: 8px solid transparent;
      border-radius: 100px;
      width: 126px;
    }
  } 
}
.nav > li {
  .subSection{
    a:active, a:visited{
      color: $beyond-light-gray;
    } 
    
  }
   a {
      color: $beyond-light-gray;
      &:hover, &:focus{
        color: $beyond-orange;
        background-color: transparent;
      }
  }

}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    // .container {
    //   padding-right: 15px;
    //   padding-left: 15px;
    // }
    .navbar {
      background-image: radial-gradient(circle closest-corner at 93px 100px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70px, $beyond-navbar-bg 70px);
      padding-right: 0;
      padding-left: 0;
      ul{
        margin-left: 165px;
      }
      .logo{
         margin-left: 23px;
        img{
          margin-top: 27px;
          width: 140px;
        }
      }
    }
  }
  .navbar-nav {
    float: none;

    > li > a {
      text-transform: uppercase;
      font-size: 17px;
    }
  }
  .navbar-header{
      height: 50px;
      .logo img{
        border: 10px solid transparent;
        border-radius: 100px;
      } 
  }
}

@media (min-width: 992px) {
    .navbar-wrapper{
      .navbar{
        background-image: radial-gradient(circle closest-corner at 217px 113px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90px, $beyond-navbar-bg 91px);
        ul{ margin-left: 0px; }
        .logo{
            margin-left: 127px;
            img{
              margin-top: 21px;
              width: 180px;
            }
        }        
      }
    } 
}