.v-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.container {
    padding-right: 0;
    padding-left: 0;
}
.section-header{
	@include sectionHeader;
	h2{ font-size: 1.5em; }
	padding: 30px 7px;
	p{ margin-top: 20px;}
	.sub-header{
		@include sectionSubHeader;
		text-transform: none;
	}
	button{
		// width: calc(100% - 2em);
		// margin: 0em 1em;
	}
}

.tile-grid{
	.row{
		margin: 0px;
	}
	&.news{
		figure{
			@include newsTile;	
		}
	}
	&.join{
		figure{
			@include joinTile;	
		}
	}
	&.team{
		figure{
			@include teamTile;
		}
	}
}
figure {
	.img-wrapper{
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	
	.triangle {
		width: 0;
		height: 0;
		right: 0px;
		bottom: 0px;
		position: absolute;
		border-bottom: 64px solid $beyond-orange-ligher;
		border-left: 80px solid transparent;
		z-index: 3;
	}	
	.title, .social{
		-webkit-transform: translate3d(0,100px,0);
		transform: translate3d(0,100px,0);
	}
	.title{
		margin: 0px;
		display: table-row;
		vertical-align: middle;
		transition: transform 0.35s;	
	}
	.social{
		opacity: 0;
		transition: opacity 0.2s, transform 0.35s;
	}
	&:hover {
		img{
			opacity: 0.4;
		}
		.social{
			opacity: 1;
		}
		.title{
			transform: translate3d(0,70px,0);
		}
		img, .social{
			transform: translate3d(0,0,0);
		}
		.social{
			transition-delay: 0.05s;
			transition-duration: 0.35s;
		}
		// .triangle{
		// 	border-bottom-color: $beyond-light-blue;
		// }
	}
}
.tile-info{
	@include sectionHeader;
	h2{ 
	font-size: 1.5em;
	}
	h3{
		color: white;
		margin-top: 5px;
	}
	p{
		margin: 10px 0px;
		color: $beyond-text-light-blue;
	}
}

#page-nav{
	a{
		color: white;
		&:visited, &:active{
    		color: white;	
    		text-decoration: none;
    	}
		&:hover{
	        color: $beyond-orange;
	        background-color: transparent;
	     }

    	
	}
}

/*---------- Page Overrides---------*/
.main-home{
	.partners-carousel{
		.row{
			.partner-logo{
				max-height: 135px;
				max-width: 350px;
				line-height: 135px;
				img{
					vertical-align: middle;
					width: 80%;
					height: auto;				
				}
			}

		} 
		img{
			
		}
	}
}


.main-club{
	p{ color: $beyond-text-light-blue; }
	.club-management{
		.row .tile{
			overflow: hidden;
		}
		figure{
			@include portraitTile;	
		}
	}
	.partners{
		.row{
			width: calc(100% - 2em);
			margin: 0 1em;
			> div{
				text-align: center;
 				height: 250px;
 				display: table;
 				.partner-logo{
 					max-height: 250px;
 					max-width: 350px;
 					line-height: 250px;
 					img{
 						
 					}
 				}
			}
		} 
		img{
			vertical-align: middle;
			width: 80%;
			height: auto;
		}
	}
}

.main-membership{
	p{ color: $beyond-text-light-blue; }
	.membership-divider {
	  width:100%;
	  margin: 25px 0;
	  overflow: hidden;
	}
	.feature{
		h3 {
			font-size: 26px;
			color: $beyond-lighter-blue;
			text-align: center;
		}
		.divider {
		  width:100%;
		  margin: 10px 0px 10px 0px;
		  overflow: hidden;
		}
		.mythical-icon {
			background-image: url("../images/features-mythical-icon.png");
			background-repeat: no-repeat;
		}
		.fa-check-circle {
			color: #fff;
			padding-right: 10px;
		}
		.check-text {
			color: $beyond-text-light-blue;
			font-family: $proxima-font;
			font-weight: 400;
			font-size: 1em;	
			padding-bottom: 5px;
		}
	}
	.membership-features {
		h3 {
			font-size: 26px;
			color: $beyond-lighter-blue;
			text-align: center;
		}

		.mythical-icon {
			background-image: url("../images/features-mythical-icon.png");
			background-repeat: no-repeat;
		}

		.membership-divider {
		  width:100%;
		  margin: 10px 0px 10px 0px;
		  overflow: hidden;
		}

		.fa-check-circle {
			color: #fff;
			padding-right: 10px;
		}

		.check-text {
			color: $beyond-text-light-blue;
			font-family: $proxima-font;
			font-weight: 400;
			font-size: 1em;	
			padding-bottom: 5px;
		}

		.features-table {
			padding: 0px 30px 0px 0px;
		}

		.features-table td{
			vertical-align: top;
		}

		.mobile-month {
			font-size: 24px;
			color: #acacac;
		}
	}
	.membership-price {
		font-size: 70px;
		color: #fff;
		span {
			font-family: $proxima-font;
			font-weight: 400;
			font-size: 50px;
			color: #acacac;
		}
	}
	.circle {
		color: #676d81;
		font-size: 14px;
	
		.before-text {
			color: #fff;
			font-size: 34px;
			padding: 0px 0px 0px 10px;
		}
		.before-price {
			color: $beyond-lighter-blue;
			text-decoration: line-through;
			font-size: 42px;
			padding: 0px 10px 0px 0px;
		}
	}

	.membership-info {
		margin: 0% 0%;
		h3 {
			font-size: 18px;
			font-family: $proxima-font;
			line-height: 30px;
			font-weight: $thin;
			color: #fff;
			text-align: center;
			padding: 0px 95px;
		}
		p {
			font-size: 14px;
			text-align: center;
			padding: 0px 50px;
		}
	}

	.membership-details {
		margin-top: 50px; 
	}

	.membership-application {
		background-color: #0f4281;
		color: $beyond-lighter-blue;

		h2{
			margin-top: 30px;
			text-align: center;
		} 

		.application-form {
			margin-top: 30px;
			p{
				color: $beyond-lighter-blue;
				font-size: 14px;
				font-weight: $light;
			}
		}

		.form-control {
			background-color: #002c4f;
			border: 0px;
			border-radius: 0px;
			text-align: left;
			padding: 0px 10px;
		}

		.membership-payment {
			.credit-cards{
				color: #fff;
				font-size: 20px;
			}
			label{
				padding-right: 20px;
			}
		}
		.form-inline{
			.credit-card-details{
				width: 60px;
				display: inline-block;
				margin-right: 7px;
			}
			label{
				color: $beyond-lighter-blue;
				font-size: 14px;
				font-weight: $light;
			}
			span{
				color: $beyond-orange-ligher;
			}
		}

		.membership-billing{
			margin-top: 20px;

			.clear-margin{
				margin: 0px;
			}
			.btn-default{
				background-color: $beyond-orange;
				border: $beyond-orange;
				border-radius: 0px; 
				color: #fff;
			}
		}
	}

	.membership-faq{
		h2{
			color: $beyond-lighter-blue;
			text-align: center;
			margin: 50px 0px 20px 0px;
			font-size: 31px;
		}
		p{
			text-align: center;
			font-size: 16px;
			padding-right: 15px;
		}
		.navbar-form {
		    margin-left: -15px;
		    margin-right: -15px;
		    padding: 0px 15px;
		    border-top: 0px solid transparent; 
		    border-bottom: 0px solid transparent;
		    -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0), 0 0px 0 rgba(255, 255, 255, 0); 
		    box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0), 0 0px 0 rgba(255, 255, 255, 0); 
		    margin-top: 0px; 
		    margin-bottom: 0px; 
		}
		.input-group{
			width: 100%;
		}
		.form-control {
			background-color: #292e44;
			border-color: $beyond-text-light-blue;
			border-radius: 0px;
			text-align: left;
		}
		.btn-default {
		    color: $beyond-orange;
		    background-color: #292e44;
		    border-color: $beyond-text-light-blue;
		    border-left-style: none;
		}
		.membership-questions {
			margin-top: 20px;
			h3{
				color: #fff;
				font-family: $proxima-font;
				font-weight: $regular;
				text-align: center;
			}
			p{
				text-align: center;
				padding-bottom: 10px;
				padding-right: 30px;
			}
		}
	}
}

.main-team{
	.team-hero{
	    .team-players{
	    	height: 445px;
	    	margin-top: -27px;
	    	background-position: 81% 29%;
	    	background-size: cover;
	    	background-image: url("../images/team-players.png");
	    	background-repeat: no-repeat;
	    }
	    .team-info{
	    	height: 418px;

    		.team-text{
    			width: 100%;
    			height: 100%;
    			position: absolute;
    			right: 0px; 

    			h2{
	    			color: $beyond-lighter-blue;
	    			font-size: 28px;
	    			text-align: center;
	    			position: absolute;
	    			display: block;
	    			width: 100%;
	    			margin-top: 115px;
	    			font-weight: $thin;
	    		}  

	    		p{
	    			font-size: 21px;
	    			color: #fff;
	    			text-align: center;
	    			position: absolute;
	    			display: block;
	    			width: 100%;
	    			margin-top: 160px;
	    			font-weight: $thin;
	    		} 

	    		span{
	    			font-family: $proxima-font;
	    			font-size: 21px;
	    			font-weight: $thin;
	    			color: #fff;
	    			text-align: center;
	    			position: absolute;
	    			display: block;
	    			width: 100%;
	    			margin-top: 200px;
	    		} 
    		} 
	    }
	}

	.team-right-arrow{
		z-index: 7;
		position: absolute;
		bottom: 10px;
		right: 15px;
	}
	
	.sub-nav-social{
		padding: 0px;
	}

	.player-info{
		position: absolute;
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		height: 80px;
		z-index: 2;
		left: 0px;
		bottom: 0px;
		text-align: left;

		h2{
			position: relative;
			display: inline-block;
			font-size: 59px;
			left: 0px;
			color: $beyond-light-blue;
			float: left;
			padding: 10px 0px 0px 25px;
		}

		p{
			position: relative;
			display: inline-block;
			font-size: 22px;
			float: left;
			color: $beyond-light-blue;
			padding: 17px 0px 0px 15px;
		}

		span{
			font-size: 18px;
			float: left;
			color: #fff;
		}
	}

	figure {
		img {
			opacity: 1;
		}
	}

	.sub-nav{
		display: inline-block;
		float: left; 
		margin-top: 10px; 
		text-align: center;
		color: #fff;

		a{
			color: #fff;
		}

		span{
			padding: 0px 10px 0px 10px;
			color: #fff;
		}
	}

	header footer{
		padding: 10px 0px;
	}

	.social-btn {
	    display: inline-block;
	    border: 1px solid white;
	    border-radius: 20px;
	    height: 42px;
	    width: 42px;
	    text-align: center;
	    color: white;
	    margin: 0% 2%;
	    line-height: 37px;
	    font-size: 21px;
	}

	.btn-default{
		background-color: $beyond-orange;
		border: $beyond-orange;
		color: #fff;
	}

}
.contact{
	color: $beyond-text-light-blue;
	padding: 50px 0px;
	input, textarea { 
		padding: 0px 20px;
		margin: 5px 0px;
		text-align: left;
		width: 100%; 
		background: transparent;
		line-height: 2.5em;
		border: 1px solid $beyond-text-light-blue;
	}
	textarea{
		height: 228px;
	}
	button{
		margin-top: 30px;
		width: 100%;
	}
	.contact-info{
		display: none;
		padding: 0px 25px;
		h2{
			text-transform: uppercase;
			color: white;
		}
		>div{
			margin: 30px 0px;
			span{
				margin-left: 5px;
			}
		}
	}
}

@media (min-width: 768px) {
	.section-header{
		padding: 25px 0px;
		h2{
			font-size: 31px;
		}
		button{
			margin: 19px 10px;
		}
	}
	.tile-info{
		text-align: left;
		margin: 10% 0px;
		.social{
			margin: 0px;
			padding: 0px;
		}
	}

	.main-club{
		p{ 
			text-transform: none;
			font-size: 1.25em;
		}
		.section-header{
			
		}
		
	}

	.main-membership{
		.membership-features {
			h3 {
				font-size: 26px;
				color: $beyond-lighter-blue;
				text-align: left;
			}
		}
		.membership-price {
			font-size: 102px;
			color: #fff;
			span {
				font-family: $proxima-font;
				font-weight: 400;
				font-size: 50px;
				color: #acacac;
			}
		}
		.membership-info {
			margin: 15% 0% 0% 0%;
			padding: 0px;
			h3 {
				font-size: 18px;
				font-family: $proxima-font;
				line-height: 30px;
				font-weight: $thin;
				color: #fff;
				text-align: left;
				padding: 0px 10px;
			}
			p {
				font-size: 14px;
				text-align: left;
				padding: 0px 10px;
			}
		}
		.membership-faq{
			p{
				text-align: right;
				font-size: 16px;
				padding-right: 10px;
			}

			.membership-questions {
				margin-top: 20px;
				h3{
					color: #fff;
					font-family: $proxima-font;
					font-weight: $regular;
					text-align: left;
				}
				p{
					text-align: left;
					padding-bottom: 10px;
					padding-right: 30px;
				}
			}
		}
	}

	.contact{
		button{
			width: auto;
		}
		.contact-info{
			display: block;
		}
	}
}

@media (min-width : 992px) {
	.main-team{
		.sub-nav{ 
			text-align: left;
		}
		.text-CTA{
			display: inline;
		}
		.sub-nav-social {
		    display: inline;
		}
		.team-text{
			h2{
				margin-top: 150px !important;
			}

			p{
				margin-top: 195px !important;
			}

			span{
				margin-top: 235px !important;
			}
		} 
	}
}