$beyond-blue:           #005595;
$beyond-light-blue:     #3599bd;
$beyond-lighter-blue:   #00b2ee;
$beyond-text-light-blue:#a4d1f4;
$beyond-link-blue:		#66b3ed;
$beyond-dark-blue:      #003054;
$beyond-darker-blue:    #232a42;
$beyond-bg-dark-blue:   #0f3b5b;
$beyond-footer-blue:    #002c4f;
$beyond-orange:         #F36D47;
$beyond-orange-ligher:  #F36E48;
$beyond-gray:  			#c2c2c2;
$beyond-light-gray:  	#e2e2e2;
$beyond-navbar-bg:    #232a42;


$beyond-dark-overlay:   rgba(0,0,0,0.5);
$beyond-orange-overlay: rgba(243,108,72,0.79);
$beyond-input-border-blue: $beyond-dark-blue;


$proxima-font:  		"Proxima Nova", sans-serif;
$roboto-font:  			"Roboto";
$thin: 					100;
$light: 				200;
$regular: 				400;
$medium: 				500;
$semibold: 				600;
$bold: 					700;
$black: 				800;
$extrabold: 			900;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin orangeBtn() {
	background-color: $beyond-orange;
}
@mixin blueBtn() {
	background-color: $beyond-lighter-blue;
}

@mixin socialBtn() {
	display: inline-block;
    // border: 1px solid white;
    border-radius: 20px;
    height: 42px;
    width: 42px;
    text-align: center;
    color: white;
    // margin: 8px 3px;
    margin: 0% 2%;
    i{
		font-size: 21px;
	    text-align: center;
	    padding: 0px 0px;
	    line-height: 30px;
        @include transition(color 0.5s);
	}
    @include transition(box-shadow 0.5s);
    box-shadow: inset 0 0 0 1px  white;

    &:hover{
        box-shadow: inset 0 0 0 21px  $beyond-orange;
    }
}

@mixin callToAction() {
	font-size: 1em;
	font-weight: $semibold;
	font-family: $proxima-font;
	// text-transform: uppercase;
	line-height: 2em;
    color: white;
    letter-spacing: 2px;
    padding: 0.4em;
}

@mixin sectionHeader() {
    color: $beyond-lighter-blue;
    background-color: $beyond-darker-blue;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0px;

}
@mixin sectionSubHeader() {
    color: white;
    font-family: $proxima-font;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    padding: 16px 0px;    
}
@mixin tile() {
    border-bottom:4px solid $beyond-orange-ligher;
    background-color: black;
    position: relative;
    text-transform: none;
    overflow: hidden;
    text-align: center;
    img {
        position: relative;
        display: block;
        min-height: 100%;
        width: 100%;
        // opacity: 0.85;
        
    }
    figcaption {
        color: #fff;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::before, &::after{
            pointer-events: none;
        }
    }
    figcaption > div {
        display: table;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2em;
        width: 100%;
        height: 100%;
    }
    figcaption, figcaption >a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    figcaption > a{
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }
}
@mixin tileWithHover() {
    border-bottom:4px solid $beyond-orange-ligher;
    background-color: black;
    position: relative;
    text-transform: none;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    &:hover{
        border-color: $beyond-light-blue;
        background-color: $beyond-orange;
        .triangle{
            border-bottom-color: $beyond-light-blue;
        }
    }
    img {
        position: relative;
        display: block;
        min-height: 100%;
        width: calc(100% + 50px);
        // max-width: 100%;
        opacity: 0.5;
        transform: translate3d(-50px,0,0);
        transition: opacity 0.35s, transform 0.35s;
    }
    figcaption {
        color: #fff;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::before, &::after{
            pointer-events: none;
        }
    }
    figcaption > div {
        display: table;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2em;
        width: 100%;
        height: 100%;
    }
    figcaption, figcaption >a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    figcaption > a{
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }
    &:hover {
        img{
            opacity: 0.4;
        }
        .social{
            opacity: 1;
        }
        .title{
            transform: translate3d(0,70px,0);
        }
        img, .social{
            transform: translate3d(0,0,0);
        }
        .social{
            transition-delay: 0.05s;
            transition-duration: 0.35s;
        }
        // .triangle{
        //  border-bottom-color: $beyond-light-blue;
        // }
    }
}
@mixin newsTile() {
    @include tileWithHover;
    min-width: 350px;
    min-height: 350px;
    max-height: 400px;   
}
@mixin teamTile() {
    // @include tileWithHover;
    @include tile;
    // max-width: 292px;
    max-height: 338px;
}
@mixin portraitTile() {
    @include tile;
    min-width: 300px;
    min-height: 300px;
    max-height: 400px;
}
@mixin joinTile(){
    @include tileWithHover;
    background-color: #232a42;
    min-width: 300px;
    min-height: 300px;
    max-height: 380px;
}


